@media screen and (min-width: 1920px) {
  .header {
    padding: 20px 30px;
  }

  .home .info-text {
    bottom: 80px;
    left: 1000px;
  }

  .about-preview-wrapper {
    width: 474px;
  }

  .about-preview__title1,
  .about-preview__title2 {
    font-size: 96px;
    line-height: 98px;
  }

  .about-info {
    margin-top: 230px;
  }

  .about-info__title {
    font-size: 64px;
    line-height: 80px;
  }

  .about-info-description {
    width: 432px;
    font-size: 32px;
    line-height: 43px;
  }

  .about-info-text-wrapper {
    width: 95%;
    font-size: 24px;
    line-height: 32px;
  }

  .contacts .main {
    display: flex;
    flex-direction: column;
    z-index: 0;
  }

  .services-preview {
    right: 800px;
  }

  .portfolio__title {
    font-size: 90px;
    line-height: 102px;
  }

  .portfolio-name {
    margin-left: 210px;
    font-size: 30px;
    line-height: 42px;
    justify-content: start;
  }

  .portfolio2-tags-list {
    font-size: 32px;
  }

  .portfolio2-description {
    max-width: 800px;
    font-size: 28px;
  }
}

@media screen and (max-width: 1439px) {
  .home .info__title {
    width: 550px;
    line-height: 111px;
  }

  .home .info-animation-text {
    font-size: 110px;
    line-height: 120px;
  }

  .home .info__title2 {
    font-size: 130px;
    line-height: 140px;
  }

  .home .info-text {
    left: 832px;
    bottom: 150px;
  }

  .about-preview {
    width: 37%;
  }

  .about-preview-wrapper {
    left: 30px;
  }

  .about-info {
    margin-top: 180px;
  }

  .about-info-description {
    font-size: 24px;
    line-height: 28px;
  }

  .about-info-text-wrapper {
    width: 95%;
    font-size: 16px;
    line-height: 24px;
  }

  .about-info-text2 {
    font-size: 19px;
  }

  .portfolio2-description {
    font-size: 24px;
  }
}

@media screen and (max-width: 1279px) {
  .header {
    padding: 20px 40px;
  }

  .home .header,
  .contacts .header,
  .about .header {
    background: var(--color-black);
  }

  .services .header,
  .portfolio .header {
    background: var(--color-white);
  }

  .header-menu {
    width: 30px;
  }

  .menu-line,
  .menu-line::before,
  .menu-line::after {
    width: 30px;
  }

  .menu-line {
    top: 10px;
  }

  .menu-line::before,
  .menu-line::after {
    height: 3px;
  }

  .nav-list {
    width: 100%;
    font-size: 22px;
    line-height: 25px;
    gap: 5%;
  }

  .portfolio .header-logo,
  .services .header-logo {
    top: 0;
  }

  .portfolio .header-logo {
    z-index: 7;
  }

  .home .logo-image {
    width: 140px;
    height: 45px;
  }

  .home .info__title {
    width: 400px;
    font-size: 84px;
    line-height: 90px;
  }

  .info-animation-block {
    width: 346px;
    height: 87px;
  }

  .info-animation-block svg ellipse {
    stroke-width: 4px;
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    cx: 170;
    cy: 45;
    rx: 163;
    ry: 30;
  }

  @keyframes animate {
    0% {
      stroke-dashoffset: 800;
    }
    20% {
      stroke: var(--color-green);
    }
    40% {
      stroke: var(--color-pink);
    }
    60% {
      stroke: var(--color-green);
    }
    70% {
      stroke: var(--color-pink);
    }
    100% {
      stroke: var(--color-green);
      stroke-dashoffset: 0;
    }
  }

  .home .info-animation-text {
    font-size: 88px;
    line-height: 96px;
  }

  .home .info__title2 {
    font-size: 104px;
    line-height: 150px;
  }

  .home .info-text {
    width: 140px;
    bottom: 145px;
    left: 410px;
  }

  .about .main {
    height: 100%;
    flex-direction: column;
  }

  .about-preview {
    width: 100%;
    height: 35%;
    min-height: 300px;
    padding: 40px;
    display: flex;
    align-items: end;
    position: relative;
  }

  .about-preview-wrapper {
    width: 560px;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .about-preview__title1,
  .about-preview__title2 {
    width: 405px;
    font-size: 57px;
    line-height: 65px;
  }

  .about-preview__title2,
  .about-preview-name {
    position: absolute;
  }

  .about-preview__title2 {
    left: 130px;
  }

  .about-preview-name {
    left: 430px;
    bottom: 50px;
  }

  .about-info {
    margin-top: 0px;
    padding: 40px;
    width: 100%;
    height: 100%;
  }

  .about-info__title {
    font-size: 54px;
    line-height: 94px;
  }

  .about-info-description {
    margin-top: 0px;
    width: 280px;
    font-size: 20px;
    line-height: 30px;
  }

  .about-info-text-wrapper {
    margin-top: 30px;
    width: 96%;
    font-size: 19px;
    line-height: 30px;
  }

  .about-info-text2 {
    font-size: 19px;
    line-height: 90px;
  }
  Z .contacts .header {
    background: var(--color-black);
  }

  .contacts .main {
    padding: 20px 40px 20px 100px;
    height: auto;
    flex-direction: column;
    align-items: start;
    position: static;
  }

  .contacts__title {
    font-size: 65px;
    line-height: 76px;
  }

  .contacts-preview {
    justify-content: start;
  }

  .contacts-info__title {
    font-size: 29px;
    line-height: 30px;
  }

  .contacts-info-text {
    margin: 20px 0px 40px 0px;
    max-width: 400px;
    font-size: 18px;
    line-height: 27px;
  }

  .contacts-info__button {
    width: 350px;
    height: 57px;
    font-size: 20px;
    line-height: 24px;
  }

  .footer {
    padding: 20px 40px 20px 100px;
    background-color: var(--color-black);
  }

  .footer-sign {
    width: 55%;
    justify-content: start;
    gap: 10%;
  }

  .footer-company {
    width: 45%;
  }

  .portfolio .main {
    display: flex;
    flex-direction: column;
  }

  .portfolio-preview {
    padding: 20px 40px;
    width: 100%;
  }

  .portfolio-text-wrapper {
    width: 590px;
  }

  .portfolio__pretitle {
    margin-top: 0px;
    font-size: 38px;
    line-height: 62px;
    color: var(--color-pink);
  }

  .portfolio__title {
    font-size: 76px;
    line-height: 84px;
  }

  .portfolio-name {
    margin-left: 160px;
    font-size: 26px;
    line-height: 30px;
    justify-content: start;
  }

  .portfolio-gallery {
    position: static;
    width: 100%;
  }

  .portfolio .logo {
    display: none;
  }

  .popup-close {
    right: 20px;
  }

  .close-line {
    top: 20px;
    right: 20px;
  }

  .close-line,
  .close-line::before,
  .close-line::after {
    width: 25px;
  }

  .close-line::before,
  .close-line::after {
    height: 3px;
  }

  .popup-head {
    align-items: center;
  }

  .popup__title {
    font-size: 22px;
    line-height: 48px;
    align-items: center;
  }

  .popup-text {
    width: 220px;
    font-size: 14px;
    line-height: 18px;
  }

  .form-input {
    font-size: 18px;
    line-height: 20px;
    border-bottom: 2px solid var(--color-white-hidden);
  }

  .form__button {
    margin: 40px 0;
    width: 100%;
    height: 50px;
    font-size: 19px;
    line-height: 22px;
  }

  .checkbox-text {
    font-size: 14px;
    line-height: 17px;
  }

  .services .main {
    padding: 80px 0px 0px;
    justify-content: space-between;
  }

  .services__title {
    margin: 0px 40px 40px 40px;
    font-size: 50px;
    line-height: 55px;
    display: flex;
    position: static;
  }

  .services-preview {
    width: 330px;
    height: 50px;
    right: 0px;
    top: 91px;
  }

  .logo {
    display: none;
  }

  .preview__title {
    font-size: 19px;
    line-height: 22px;
  }

  .preview-text {
    margin-right: 50px;
    font-size: 12px;
    line-height: 14px;
  }

  .preview-slogan {
    margin-left: -55px;
    width: 165px;
    height: 23px;
    font-size: 19px;
    line-height: 20px;
  }

  .services-left {
    height: auto;
  }

  .services-list-white {
    max-height: 100%;
    overflow: visible;
  }

  .services-list-white .services-item:nth-child(n + 2) {
    border-top: 1px solid var(--color-black);
  }

  .services-list-white .item__title,
  .services-list-black .item__title {
    padding: 12px 40px;
    font-size: 20px;
  }

  .services-list-white .services-item-active .item-text-wrapper {
    padding: 15px 40px;
    border-top: 0px solid var(--color-black);
  }

  .services-list-white .item-text {
    max-width: 88%;
  }

  .services-right {
    position: static;
  }

  .services-list-black {
    height: 100%;
    flex-direction: column;
    transform: rotate(0deg);
  }

  .services-list-black .services-item {
    color: var(--color-white);
    display: flex;
    flex-direction: column;
  }

  .services-list-black .item__title-wrapper {
    padding: 0px;
  }

  .services-list-black .item__title-wrapper:nth-child(n + 1) {
    border-left: 0px solid var(--color-white);
    border-top: 1px solid var(--color-white);
  }

  .services-list-black .item__title {
    writing-mode: horizontal-tb;
  }

  .services-list-black .item-text {
    transform: rotate(0deg);
  }

  .services-list-black .services-item-active .item-text-wrapper {
    padding: 15px 40px;
  }

  .services-list-black .services-item-active .item-text {
    width: 100%;
  }

  .logo {
    left: calc(100% - 140px);
    z-index: 90;
  }

  .portfolio2-text-wrapper {
    margin-top: 60px;
    grid-template-columns: 1fr;
  }

  .portfolio2-tags-list {
    font-size: 21px;
    margin-left: 0;
  }

  .portfolio2__title {
    margin: 40px 0 10px 0;
    grid-row-start: auto;
    font-size: 97px;
    line-height: 100px;
  }

  .portfolio2-description {
    padding-left: 0;
    max-width: 90%;
    grid-row-start: auto;
    grid-row-end: auto;
    font-size: 23px;
  }
}

@media screen and (max-width: 1023px) {
  .nav-list {
    gap: 4%;
  }

  .home .main {
    padding: 10px 0;
  }

  .home .main-info {
    margin-bottom: 0;
    padding: 0px 40px;
  }

  .home .info__title {
    width: 300px;
    font-size: 56px;
    line-height: 65px;
  }

  .info-animation-block {
    width: 275px;
    height: 60px;
  }

  .info-animation-block svg ellipse {
    stroke-width: 3px;
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    cx: 140;
    cy: 28;
    rx: 125;
    ry: 25;
  }

  @keyframes animate {
    0% {
      stroke-dashoffset: 800;
    }
    20% {
      stroke: var(--color-green);
    }
    40% {
      stroke: var(--color-pink);
    }
    60% {
      stroke: var(--color-green);
    }
    70% {
      stroke: var(--color-pink);
    }
    100% {
      stroke: var(--color-green);
      stroke-dashoffset: 0;
    }
  }

  .home .info-animation-text {
    width: 270px;
    height: 60px;
    font-size: 70px;
    line-height: 56px;
  }

  .home .info__title2 {
    font-size: 77px;
    line-height: 96px;
  }

  .home .info-text {
    width: 120px;
    font-size: 16px;
    line-height: 22px;
    bottom: 91px;
    left: 392px;
  }

  .about-preview {
    padding: 20px 40px;
    min-height: 250px;
  }

  .about-preview-wrapper {
    width: 400px;
  }

  .about-preview__title1,
  .about-preview__title2 {
    font-size: 52px;
    line-height: 60px;
  }

  .about-preview__title2 {
    left: 126px;
  }

  .about-preview-name {
    font-size: 18px;
    line-height: 22px;
    left: 396px;
    bottom: 30px;
  }

  .about-info__title {
    font-size: 48px;
    line-height: 54px;
  }

  .about-info-description {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }

  .about-info-text-wrapper {
    margin-top: 20px;
    width: 95%;
    font-size: 15px;
    line-height: 26px;
  }

  .about-info-text2 {
    font-size: 16px;
    line-height: 58px;
  }

  .contacts-wrapper {
    margin-top: -30px;
    flex-direction: column;
    align-items: start;
  }

  .contacts-preview {
    width: 100%;
  }

  .contacts-info {
    width: 100%;
  }

  .services .main {
    padding: 80px 0px 0px;
  }

  .portfolio__pretitle {
    margin-top: 0px;
    font-size: 38px;
    line-height: 48px;
  }

  .portfolio__title {
    font-size: 67px;
    line-height: 72px;
  }

  .portfolio-name {
    margin-left: 140px;
    font-size: 24px;
    line-height: 22px;
  }

  .portfolio2 .main {
    padding: 50px 40px;
  }

  .portfolio2-tags-list {
    font-size: 28px;
  }

  .portfolio2__title {
    margin: 30px 0 10px 0;
    font-size: 97px;
    line-height: 107px;
  }

  .portfolio2-description {
    max-width: 100%;
    font-size: 26px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 15px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
  }

  .home .header,
  .about .header,
  .contacts .header,
  .portfolio2 .header {
    background: var(--color-black);
  }

  .services .header,
  .portfolio .header {
    background: var(--color-white);
  }

  .header-menu {
    width: 25px;
    height: 25px;
    position: relative;
  }

  .menu-line {
    top: 0;
  }

  .menu-line,
  .menu-line::before,
  .menu-line::after {
    width: 25px;
  }

  .menu-line::before,
  .menu-line::after {
    height: 3px;
  }

  .header-nav {
    padding: 40px 20px;
    width: 100%;
    height: 545px;
    flex-direction: column;
    align-items: start;
    z-index: 10;
  }

  .header-active .header-nav {
    z-index: 100;
  }

  .header-active .header-menu {
    position: absolute;
    top: 50px;
    right: 20px;
    z-index: 110;
  }

  .nav-logo {
    display: flex;
  }

  .header-active .nav-logo .logo-image {
    transform: translateX(0%);
  }

  .nav-list {
    margin-top: 90px;
    width: 100%;
    height: 100%;
    list-style: none;
    font-size: 36px;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 35px;
  }

  .services .header-logo,
  .portfolio .header-logo,
  .portfolio2 .header-logo {
    top: -5px;
    right: 0px;
  }

  .header-active .header-logo {
    display: none;
  }

  .header-active .overlay {
    height: 100vh;
  }

  .home .logo-image {
    width: 132px;
    height: 43px;
  }

  .home .main {
    padding: 0px 20px;
  }

  .home .main-info {
    margin-bottom: 40px;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .home .info__title {
    width: 265px;
    font-size: 48px;
    line-height: 52px;
  }

  .info-animation-block {
    width: 230px;
    height: 54px;
  }

  .info-animation-block svg ellipse {
    stroke-width: 2px;
    stroke-dasharray: 620;
    stroke-dashoffset: 620;
    cx: 113;
    cy: 30;
    rx: 106;
    ry: 20;
  }

  @keyframes animate {
    0% {
      stroke-dashoffset: 620;
    }
    20% {
      stroke: var(--color-green);
    }
    40% {
      stroke: var(--color-pink);
    }
    60% {
      stroke: var(--color-green);
    }
    70% {
      stroke: var(--color-pink);
    }
    100% {
      stroke: var(--color-green);
      stroke-dashoffset: 0;
    }
  }

  .home .info-animation-text {
    width: 232px;
    height: 50px;
    font-size: 62px;
    line-height: 56px;
  }

  .home .info__title2 {
    font-size: 68px;
    line-height: 68px;
    display: flex;
    flex-direction: column;
  }

  .home .info-text {
    width: 105px;
    font-size: 14px;
    line-height: 17px;
    left: 205px;
    bottom: 79px;
  }

  .about .logo-image,
  .services .logo-image,
  .contacts .logo-image,
  .portfolio .logo-image,
  .portfolio2 .logo-image {
    width: 120px;
    height: 37px;
    transform: translateX(80%);
  }

  .about .main {
    flex-direction: column;
  }

  .about-preview {
    padding: 80px 20px 20px 20px;
    width: 100%;
    min-height: 170px;
    height: auto;
    position: relative;
  }

  .about-preview__title1,
  .about-preview__title2 {
    width: 210px;
    font-size: 28px;
    line-height: 32px;
  }

  .about-preview__title2 {
    left: 65px;
    bottom: 19px;
  }

  .about-preview-name {
    font-size: 13px;
    line-height: 18px;
    left: 220px;
    bottom: 23px;
  }

  .about-info {
    margin-top: 20px;
    padding: 0 20px;
    width: 100%;
  }

  .about-info__title {
    font-size: 26px;
    line-height: 32px;
  }

  .about-info-description {
    margin-top: 10px;
    font-size: 18px;
    line-height: 24px;
  }

  .about-info-text-wrapper {
    margin-top: 10px;
    width: 100%;
    font-size: 13px;
    line-height: 18px;
  }

  .about-info-text2 {
    font-size: 12px;
    line-height: 60px;
  }

  .contacts .main {
    padding: 100px 20px 20px 20px;
    height: auto;
    flex-direction: column;
    align-items: start;
    position: static;
  }

  .contacts__title {
    position: static;
    font-size: 42px;
    line-height: 46px;
  }

  .contacts-wrapper {
    flex-direction: column;
    align-items: start;
  }

  .contacts-preview-wrapper {
    margin-left: -70px;
    width: 415px;
    height: 323px;
  }

  .contacts-address,
  .contacts-number {
    font-family: var(--font-intro);
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    left: 180px;
  }

  .contacts-address {
    top: 115px;
  }

  .contacts-number {
    top: 140px;
  }

  .contacts-info {
    margin-top: -50px;
    width: 100%;
    min-height: 222px;
    justify-content: space-between;
  }

  .contacts-info__title {
    font-size: 21px;
    line-height: 26px;
  }

  .contacts-info-text {
    margin: 20px 0px 40px 0px;
    font-size: 15px;
    line-height: 20px;
  }

  .contacts-info__button {
    width: 240px;
    height: 50px;
    font-size: 16px;
    line-height: 18px;
  }

  .footer {
    padding: 10px 20px;
    width: 100%;
    background: var(--color-black);
    flex-direction: column-reverse;
    align-items: start;
    gap: 5px;
  }

  .footer-sign {
    width: 100%;
    max-width: 400px;
    justify-content: space-between;
  }

  .footer-company {
    width: 100%;
    max-width: 400px;
    justify-content: space-between;
    gap: 10px;
  }

  .company-wrapper {
    line-height: 18px;
  }

  .sign-text,
  .sign-year {
    font-size: 12px;
    line-height: 18px;
  }

  .popup {
    padding: 30px 20px 30px 20px;
    left: calc(50% - 170px);
  }

  .popup-close {
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
  }

  .close-line {
    top: 10px;
    right: 10px;
  }

  .close-line,
  .close-line::before,
  .close-line::after {
    width: 20px;
  }

  .close-line::before,
  .close-line::after {
    height: 2px;
  }

  .popup-head {
    align-items: center;
  }

  .popup__title {
    font-size: 18px;
    line-height: 40px;
    align-items: center;
  }

  .popup-text {
    width: 180px;
    font-size: 12px;
    line-height: 16px;
  }

  .form-input {
    font-size: 16px;
    line-height: 18px;
    border-bottom: 1px solid var(--color-white-hidden);
  }

  .form__button {
    margin: 20px 0;
    width: 100%;
    height: 50px;
    font-size: 19px;
    line-height: 22px;
  }

  .checkbox-text {
    width: 270px;
    font-size: 12px;
    line-height: 14px;
  }

  .portfolio .main {
    display: flex;
    flex-direction: column;
  }

  .portfolio-preview {
    padding: 50px 20px 20px 20px;
  }

  .portfolio-text-wrapper {
    width: 100%;
  }

  .portfolio__pretitle {
    margin-top: 15px;
    font-size: 30px;
    line-height: 40px;
  }

  .portfolio__title {
    font-size: 32px;
    line-height: 38px;
  }

  .portfolio-name {
    margin-left: 80px;
    font-size: 12px;
    line-height: 18px;
  }

  .portfolio-gallery {
    width: 100%;
    position: static;
    background: var(--color-black);
  }

  .logo {
    left: calc(100% - 140px);
  }

  .slider-item:nth-child(4n) {
    margin-top: -125px;
  }

  .full {
    height: 250px;
  }

  .small {
    height: 125px;
  }

  .slider-item {
    font-size: 22px;
  }

  .services .header {
    z-index: 10;
  }

  .services .main {
    padding: 50px 0px 0px 0px;
    position: static;
    overflow: visible;
  }

  .services__title {
    margin: 90px 20px 20px 20px;
    font-size: 45px;
    line-height: 50px;
  }

  .services-preview {
    width: 330px;
    height: 50px;
    right: 10px;
    top: 70px;
  }

  .preview__title {
    font-size: 19px;
    line-height: 22px;
  }

  .preview-text {
    margin-right: 50px;
    font-size: 12px;
    line-height: 14px;
  }

  .preview-slogan {
    margin-left: -55px;
    width: 165px;
    height: 23px;
    font-size: 19px;
    line-height: 20px;
  }

  .services-list-white {
    max-height: 100%;
    overflow: visible;
  }

  .services-list-white .services-item:nth-child(n + 2) {
    border-top: 1px solid var(--color-black);
  }

  .services-list-white .item__title,
  .services-list-black .item__title {
    padding: 7px 20px;
    font-size: 18px;
  }

  .services-list-white .services-item-active .item-text-wrapper {
    padding: 15px 20px;
    border-top: 0px solid var(--color-black);
  }

  .services-list-white .item-text {
    max-width: 100%;
  }

  .services-list-black {
    height: 100%;
    flex-direction: column;
    transform: rotate(0deg);
  }

  .services-list-black .services-item {
    color: var(--color-white);
    display: flex;
    flex-direction: column;
  }

  .services-list-black .item__title-wrapper {
    padding: 0px;
  }

  .services-list-black .item__title-wrapper:nth-child(n + 1) {
    border-left: 0px solid var(--color-white);
    border-top: 1px solid var(--color-white);
  }

  .services-list-black .item__title {
    writing-mode: horizontal-tb;
  }

  .services-list-black .item-text {
    transform: rotate(0deg);
  }

  .services-list-black .services-item-active .item-text-wrapper {
    padding: 15px 20px;
  }

  .services-list-black .services-item-active .item-text {
    width: 100%;
  }

  .logo {
    display: none;
  }

  .portfolio2 .main {
    padding: 80px 20px 50px 20px;
  }

  .swiper-container {
    height: auto;
  }

  .swiper-slide {
    height: 200px;
  }

  .portfolio2-text-wrapper {
    margin-top: 20px;
    grid-template-columns: 1fr;
  }

  .portfolio2-tags-list {
    margin-left: 0;
    font-size: 16px;
    line-height: 20px;
  }

  .portfolio2__title {
    margin: 20px 0 10px 0;
    grid-row-start: auto;
    font-size: 42px;
    line-height: 48px;
  }

  .portfolio2-description {
    padding-left: 0;
    max-width: 85%;
    grid-row-start: auto;
    grid-row-end: auto;
    font-size: 12px;
  }
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
  .home .main {
    padding: 150px 20px 0px 20px;
  }

  .popup {
    top: calc(50% - 150px);
  }
}
