@media screen and (min-width: 1920px) {
  .home .info-text {
    bottom: 151px;
    left: 1310px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .home .info__title {
    font-size: 132px;
    line-height: 130px;
  }

  .home .info__title2 {
    font-size: 174px;
    line-height: 167px;
  }

  .home .info-animation-text {
    width: 445px;
    height: 102px;
    font-size: 124px;
    line-height: 120px;
    left: 390px;
    bottom: 240px;
  }

  .home .info-text {
    left: 965px;
  }

  .block-left-wrapper {
    width: 360px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header {
    padding: 12px 40px;
  }

  .header-menu {
    width: 24px;
  }

  .menu-line,
  .menu-line::before,
  .menu-line::after {
    width: 24px;
  }

  .menu-line::before,
  .menu-line::after {
    height: 3px;
  }

  .home .header-nav {
    width: 90%;
  }

  .nav-list {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    gap: 7%;
  }

  .services .header-logo,
  .portfolio .header-logo,
  .portfolio2 .header-logo {
    right: 40px;
  }

  .home .logo-image {
    width: 140px;
    height: 45px;
  }

  .home .main-info {
    margin: auto 20px 30px 20px;
  }

  .home .info__title {
    width: 400px;
    font-size: 84px;
    line-height: 90px;
  }

  .home .info__title2 {
    font-size: 107px;
    line-height: 150px;
  }

  .home .info-animation-text {
    width: 310px;
    height: 75px;
    font-size: 88px;
    line-height: 96px;
    position: static;
  }

  .home .info-text {
    width: 140px;
    bottom: 176px;
    left: 370px;
  }

  .about .main {
    flex-direction: column;
  }

  .block-left {
    width: 100%;
    height: 350px;
    padding: 20px;
    display: flex;
    align-items: end;
  }

  .block-left-wrapper {
    width: 525px;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .block-right {
    width: 100%;
    height: 100px;
  }

  .block-left__title2,
  .block-left-name {
    position: absolute;
  }

  .block-left__title2 {
    left: 130px;
  }

  .block-left-name {
    left: 510px;
    top: 285px;
  }

  .block-right {
    margin-top: 0px;
    padding: 40px 20px;
    width: 100%;
  }

  .block-right__title {
    font-size: 54px;
    line-height: 94px;
  }

  .block-right-text-wrapper {
    margin-top: 40px;
    width: 88%;
    font-size: 23px;
    line-height: 30px;
  }

  .services .main {
    padding: 0px 40px;
    height: 100%;
    position: absolute;
    flex-direction: column;
    overflow: auto;
  }

  .services__title {
    margin-top: 200px;
    margin-bottom: 30px;
    position: static;
    font-size: 84px;
    line-height: 96px;
  }

  .services-preview {
    width: 330px;
    height: 50px;
    right: 92px;
  }

  .preview__title {
    font-size: 22px;
    line-height: 24px;
  }

  .preview-text {
    margin-right: 15px;
  }

  .preview-slogan {
    margin-left: -44px;
    width: 190px;
    height: 30px;
    font-size: 22px;
    line-height: 27px;
  }

  .services-right {
    position: static;
  }

  .logo {
    position: absolute;
    top: 20px;
    left: calc(100% - 190px);
  }

  .services-list-white {
    margin-top: 0px;
    max-height: 100%;
    height: 100%;
    overflow: auto;
  }

  .services-list-white .item__title,
  .services-list-black .item__title {
    padding: 15px 0px;
  }

  .services-list-white .services-item-active .item-text-wrapper {
    border-top: 0px solid var(--color-black);
    padding: 25px 70px 25px 0px;
    opacity: 1;
  }

  .services-list-white .item-text {
    max-width: 100%;
  }

  .services-list-black {
    height: 100%;
    flex-direction: column;
    transform: rotate(0deg);
  }

  .services-list-black .services-item {
    color: var(--color-white);
    display: flex;
    flex-direction: column;
  }

  .services-list-black .item__title-wrapper {
    padding: 0px;
  }

  .services-list-black .item__title-wrapper:nth-child(n + 1) {
    border-left: 0px solid var(--color-white);
    border-top: 2px solid var(--color-white);
  }

  .services-list-black .item__title {
    writing-mode: horizontal-tb;
  }

  .services-list-black .item-text {
    transform: rotate(0deg);
  }

  .services-list-black .services-item-active .item-text-wrapper {
    padding: 25px 70px 25px 0px;
  }

  .services-list-black .services-item-active .item-text {
    width: 100%;
  }

  .contacts .header {
    background-color: var(--color-black);
  }

  .contacts .main {
    padding: 80px 40px 80px 40px;
    height: auto;
    flex-direction: column;
    align-items: start;
    position: static;
  }

  .contacts__title {
    position: static;
    font-size: 84px;
    line-height: 96px;
  }

  .contacts-wrapper {
    flex-direction: column;
    align-items: start;
  }

  .contacts-info {
    width: 55%;
  }

  .footer {
    position: static;
    background-color: var(--color-black);
  }

  .portfolio .main {
    display: flex;
    flex-direction: column;
  }

  .portfolio-preview {
    padding: 80px 40px;
    width: 100%;
  }

  .portfolio-text-wrapper {
    width: 565px;
  }

  .portfolio__title {
    font-size: 84px;
    line-height: 92px;
  }

  .portfolio-name {
    justify-content: center;
  }

  .portfolio-gallery {
    position: static;
    width: 100%;
  }
}
