@media screen and (min-width: 1920px) {
  .home .info-text {
    bottom: 151px;
    left: 1310px;
  }

  .about-preview-wrapper {
    width: 474px;
  }

  .about-preview__title1,
  .about-preview__title2 {
    font-size: 96px;
    line-height: 98px;
  }

  .about-info {
    margin-top: 230px;
  }

  .about-info__title {
    font-size: 64px;
    line-height: 80px;
  }

  .about-info-description {
    width: 432px;
    font-size: 32px;
    line-height: 43px;
  }

  .about-info-text-wrapper {
    width: 95%;
    font-size: 24px;
    line-height: 32px;
  }

  .services-preview {
    right: 800px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .home .info__title {
    font-size: 132px;
    line-height: 130px;
  }

  .home .info__title2 {
    font-size: 174px;
    line-height: 167px;
  }

  .home .info-animation-text {
    width: 445px;
    height: 102px;
    font-size: 124px;
    line-height: 120px;
    left: 390px;
    bottom: 240px;
  }

  .home .info-text {
    left: 965px;
  }

  .about-preview-wrapper {
    width: 332px;
    left: 30px;
  }

  .about-preview__title1,
  .about-preview__title2 {
    font-size: 67px;
    line-height: 65px;
  }

  .about-preview-name {
    font-size: 24px;
    line-height: 26px;
  }

  .about-info {
    margin-top: 180px;
  }

  .about-info-description {
    font-size: 24px;
    line-height: 28px;
  }

  .about-info-text-wrapper {
    width: 95%;
    font-size: 16px;
    line-height: 24px;
  }

  .about-info-text2 {
    font-size: 19px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header {
    padding: 12px 40px;
  }

  .header-menu {
    width: 24px;
  }

  .menu-line,
  .menu-line::before,
  .menu-line::after {
    width: 24px;
  }

  .menu-line::before,
  .menu-line::after {
    height: 3px;
  }

  .home .header-nav {
    width: 90%;
  }

  .nav-list {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    gap: 7%;
  }

  .services .header-logo,
  .portfolio .header-logo,
  .portfolio2 .header-logo {
    right: 40px;
  }

  .home .logo-image {
    width: 140px;
    height: 45px;
  }

  .home .main-info {
    margin: auto 20px 30px 20px;
  }

  .home .info__title {
    width: 400px;
    font-size: 84px;
    line-height: 90px;
  }

  .home .info-animation-text {
    width: 310px;
    height: 75px;
    font-size: 88px;
    line-height: 96px;
    position: static;
  }

  .home .info__title2 {
    font-size: 107px;
    line-height: 150px;
  }

  .home .info-text {
    width: 140px;
    bottom: 176px;
    left: 370px;
  }

  .about .main {
    height: 100%;
    flex-direction: column;
  }

  .about-preview {
    width: 100%;
    height: 35%;
    min-height: 300px;
    padding: 40px;
    display: flex;
    align-items: end;
    position: relative;
  }

  .about-preview-wrapper {
    width: 525px;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .about-preview__title2,
  .about-preview-name {
    position: absolute;
  }

  .about-preview__title2 {
    left: 140px;
  }

  .about-preview-name {
    left: 485px;
    bottom: 50px;
  }

  .about-info {
    margin-top: 0px;
    padding: 40px;
    width: 100%;
    height: 100%;
  }

  .about-info__title {
    font-size: 54px;
    line-height: 94px;
  }

  .about-info-text-wrapper {
    margin-top: 40px;
    width: 88%;
    font-size: 23px;
    line-height: 30px;
  }

  .about-info-text2 {
    font-size: 23px;
    line-height: 90px;
  }

  .services .main {
    padding: 0px 40px;
    height: 100%;
    position: absolute;
    flex-direction: column;
    overflow: auto;
  }

  .services__title {
    margin-top: 180px;
    margin-bottom: 30px;
    position: static;
    font-size: 84px;
    line-height: 96px;
  }

  .services-preview {
    width: 330px;
    height: 50px;
    right: 92px;
    top: 120px;
  }

  .preview__title {
    font-size: 22px;
    line-height: 24px;
  }

  .preview-text {
    margin-right: 15px;
  }

  .preview-slogan {
    margin-left: -44px;
    width: 190px;
    height: 30px;
    font-size: 22px;
    line-height: 27px;
  }

  .services-right {
    position: static;
  }

  .logo {
    position: absolute;
    top: 20px;
    left: calc(100% - 190px);
  }

  .services-list-white {
    margin-top: 0px;
    max-height: 100%;
    height: 100%;
    overflow: auto;
  }

  .services-list-white .item__title,
  .services-list-black .item__title {
    padding: 15px 0px;
  }

  .services-list-white .services-item-active .item-text-wrapper {
    border-top: 0px solid var(--color-black);
    padding: 25px 70px 25px 0px;
    opacity: 1;
  }

  .services-list-white .item-text {
    max-width: 100%;
  }

  .services-list-black {
    height: 100%;
    flex-direction: column;
    transform: rotate(0deg);
  }

  .services-list-black .services-item {
    color: var(--color-white);
    display: flex;
    flex-direction: column;
  }

  .services-list-black .item__title-wrapper {
    padding: 0px;
  }

  .services-list-black .item__title-wrapper:nth-child(n + 1) {
    border-left: 0px solid var(--color-white);
    border-top: 2px solid var(--color-white);
  }

  .services-list-black .item__title {
    writing-mode: horizontal-tb;
  }

  .services-list-black .item-text {
    transform: rotate(0deg);
  }

  .services-list-black .services-item-active .item-text-wrapper {
    padding: 25px 70px 25px 0px;
  }

  .services-list-black .services-item-active .item-text {
    width: 100%;
  }

  .contacts .header {
    background: var(--color-black);
  }

  .contacts .main {
    padding: 80px 40px 80px 40px;
    height: auto;
    flex-direction: column;
    align-items: start;
    position: static;
  }

  .contacts__title {
    position: static;
    font-size: 84px;
    line-height: 96px;
  }

  .contacts-wrapper {
    flex-direction: column;
    align-items: start;
  }

  .contacts-info {
    width: 55%;
  }

  .footer {
    position: static;
    background-color: var(--color-black);
  }

  .footer-sign {
    width: 55%;
    justify-content: start;
  }

  .footer-company {
    width: 45%;
  }

  .portfolio .main {
    display: flex;
    flex-direction: column;
  }

  .portfolio-preview {
    padding: 80px 40px;
    width: 100%;
  }

  .portfolio-text-wrapper {
    width: 565px;
  }

  .portfolio__title {
    font-size: 84px;
    line-height: 92px;
  }

  .portfolio-name {
    justify-content: center;
  }

  .portfolio-gallery {
    position: static;
    width: 100%;
  }

  .popup {
    padding: 60px 20px 30px 20px;
    width: 500px;
    max-width: 500px;
    height: 700px;
    border: 2px solid var(--color-pink);
    border-radius: 15px;
    bottom: calc(50% - 350px);
    left: calc(50% - 250px);
  }

  .popup-close {
    width: 25px;
    height: 25px;
    top: 20px;
    right: 20px;
  }

  .close-line {
    top: 20px;
    right: 20px;
  }

  .close-line,
  .close-line::before,
  .close-line::after {
    width: 25px;
  }

  .close-line::before,
  .close-line::after {
    height: 3px;
  }

  .popup-head {
    align-items: center;
  }

  .popup__title {
    font-size: 22px;
    line-height: 48px;
    align-items: center;
  }

  .popup-text {
    width: 220px;
    font-size: 14px;
    line-height: 18px;
  }

  .form-input {
    font-size: 18px;
    line-height: 20px;
    border-bottom: 2px solid var(--color-white-hidden);
  }

  .form__button {
    margin: 40px 0;
    width: 100%;
    height: 50px;
    font-size: 19px;
    line-height: 22px;
  }

  .popup-form label {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .header {
    padding: 25px 20px;
  }

  .header-menu {
    width: 25px;
    height: 25px;
  }

  .menu-line {
    top: 0;
  }

  .menu-line,
  .menu-line::before,
  .menu-line::after {
    width: 25px;
  }

  .menu-line::before,
  .menu-line::after {
    height: 3px;
  }

  .header-nav {
    padding: 40px 20px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: start;
    z-index: 10;
  }

  .header-active .header-nav {
    opacity: 1;
    z-index: 100;
  }

  .header-active .header-menu {
    position: absolute;
    top: 50px;
    right: 20px;
    z-index: 110;
  }

  .header-active .overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    visibility: visible;
    background: var(--color-black);
    z-index: 50;
  }

  .header-active .header-logo {
    display: none;
  }

  .nav-logo {
    display: flex;
  }

  .header-active .nav-logo .logo-image {
    transform: translateX(0%);
  }

  .nav-list {
    margin-top: 90px;
    width: 100%;
    height: 100%;
    list-style: none;
    font-size: 36px;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 35px;
  }

  .header-logo {
    top: 35px;
  }

  .home .logo-image {
    width: 132px;
    height: 43px;
  }

  .home .main-info {
    margin: auto 20px 40px 20px;
    display: flex;
    flex-direction: column;
  }

  .home .info__title {
    width: 265px;
    font-size: 56px;
    line-height: 60px;
  }

  .home .info__title2 {
    font-size: 80px;
    line-height: 76px;
    display: flex;
    flex-direction: column;
  }

  .home .info-animation-text {
    margin: 20px 0;
    width: 240px;
    height: 46px;
    font-size: 68px;
    border: 2px solid var(--color-green);
    position: static;
  }

  .home .info-text {
    width: 120px;
    font-size: 15px;
    line-height: 18px;
    left: 237px;
    bottom: 128px;
  }

  .header-logo {
    top: -5px;
  }

  .about .logo-image,
  .services .logo-image,
  .contacts .logo-image,
  .portfolio .logo-image,
  .portfolio2 .logo-image {
    width: 120px;
    height: 37px;
    transform: translateX(80%);
  }

  .about .main {
    flex-direction: column;
  }

  .about-preview {
    padding: 105px 20px 40px 20px;
    width: 100%;
    height: auto;
    position: relative;
  }

  .about-preview-wrapper {
    width: 235px;
    position: static;
  }

  .about-preview__title1,
  .about-preview__title2 {
    font-size: 28px;
    line-height: 32px;
  }

  .about-preview__title2 {
    position: absolute;
    top: 137px;
    left: 65px;
  }

  .about-preview-name {
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    top: 147px;
    left: 210px;
  }

  .about-info {
    margin-top: 40px;
    padding: 0 20px;
    width: 100%;
  }

  .about-info__title {
    font-size: 26px;
    line-height: 32px;
  }

  .about-info-description {
    margin-top: 40px;
    font-size: 18px;
    line-height: 24px;
  }

  .about-info-text-wrapper {
    margin-top: 40px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-info-text2 {
    font-size: 12px;
    line-height: 60px;
  }

  .contacts .header {
    background: var(--color-black);
  }

  .contacts .main {
    padding: 100px 20px 80px 20px;
    height: auto;
    flex-direction: column;
    align-items: start;
    position: static;
  }

  .contacts__title {
    position: static;
    font-size: 39px;
    line-height: 44px;
  }

  .contacts-wrapper {
    flex-direction: column;
    align-items: start;
  }

  .contacts-preview {
    width: 100%;
  }

  .contacts-preview-wrapper {
    margin-top: -40px;
    margin-left: -270px;
    width: 415px;
    height: 323px;
  }

  .contacts-address,
  .contacts-number {
    font-family: var(--font-intro);
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    left: 180px;
  }

  .contacts-address {
    top: 115px;
  }

  .contacts-number {
    top: 140px;
  }

  .contacts-image-ico {
    top: 175px;
    left: 225px;
  }

  .contacts-info {
    width: 100%;
  }

  .contacts-info__title {
    font-size: 21px;
    line-height: 26px;
  }

  .contacts-info-text {
    margin: 20px 0px 40px 0px;
    font-size: 15px;
    line-height: 20px;
  }

  .contacts-info__button {
    width: 240px;
    height: 50px;
    font-size: 16px;
    line-height: 18px;
  }

  .footer {
    padding: 20px;
    width: 100%;
    flex-direction: column-reverse;
    background: var(--color-black);
    position: static;
  }

  .footer-sign {
    width: 100%;
    gap: 30px;
  }

  .footer-company {
    width: 100%;
    gap: 10px;
  }

  .popup {
    padding: 30px 20px 30px 20px;
    width: 300px;
    max-width: 300px;
    height: 500px;
    border: 2px solid var(--color-pink);
    border-radius: 15px;
    bottom: calc(50% - 250px);
    left: calc(50% - 150px);
  }

  .popup-close {
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
  }

  .close-line {
    top: 10px;
    right: 10px;
  }

  .close-line,
  .close-line::before,
  .close-line::after {
    width: 20px;
  }

  .close-line::before,
  .close-line::after {
    height: 2px;
  }

  .popup-head {
    align-items: center;
  }

  .popup__title {
    font-size: 18px;
    line-height: 40px;
    align-items: center;
  }

  .popup-text {
    width: 180px;
    font-size: 12px;
    line-height: 16px;
  }

  .form-input {
    font-size: 16px;
    line-height: 18px;
    border-bottom: 1px solid var(--color-white-hidden);
  }

  .form__button {
    margin: 20px 0;
    width: 100%;
    height: 50px;
    font-size: 19px;
    line-height: 22px;
  }

  .popup-form label {
    font-size: 12px;
    line-height: 14px;
  }
}
