@font-face {
  font-family: "Resist Sans";
  src: local("Resist Sans Display Regular"),
    local("Resist-Sans-Display-Regular"),
    url("./../fonts/ResistSansDisplay-Regular.woff2") format("woff2"),
    url("./../fonts/ResistSansDisplay-Regular.woff") format("woff"),
    url("./../fonts/ResistSansDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-weight: 400;
  font-family: "LoveLight";
  src: url(./../fonts/LoveLight-Regular.ttf);
}

:root {
  --color-black: hwb(0 0% 100%);
  --color-white: #ffffff;
  --color-green: #ceff00;
  --color-pink: #ed1e79;
  --font-love: "LoveLight";
  --font-resist: "Resist Sans";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-resist);
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 85px 40px 40px 40px;
  display: flex;
  justify-content: space-between;
}

.home .header {
  background-color: var(--color-black);
}

.header-menu {
  width: 60px;
  height: 35px;
  display: flex;
  cursor: pointer;
}

.menu-line,
.menu-line::before,
.menu-line::after {
  width: 60px;
}

.menu-line {
  position: relative;
  z-index: 10;
}

.home .menu-line::before,
.home .menu-line::after,
.about .menu-line::before,
.about .menu-line::after {
  background-color: var(--color-white);
}

.services .menu-line::before,
.services .menu-line::after {
  background-color: var(--color-black);
}

.menu-line::before,
.menu-line::after {
  content: "";
  height: 6.58px;
  border-radius: 10px;
  position: absolute;
  transition: 1s;
}

.menu-line::before {
  top: 10px;
}

.menu-line::after {
  top: 23px;
}

.header-active .menu-line::before {
  top: 20px;
  transform: rotate(45deg);
}

.header-active .menu-line::after {
  top: 20px;
  transform: rotate(-45deg);
}

.services .header-active .menu-line::before,
.services .header-active .menu-line::after {
  background-color: var(--color-white);
}

.header-nav {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  transition: 1s ease-in-out;
  background-color: var(--color-black);
  opacity: 0;
}

.header-active .header-nav {
  opacity: 1;
  transform: translateY(0%);
}

.nav-list {
  list-style: none;
  font-size: 32px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
}

.nav-item {
  transition: 0.8s;
  cursor: pointer;
}

.nav-item-link {
  text-decoration: none;
  color: var(--color-white);
}

.header-logo {
  display: flex;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.home .logo-image {
  width: 290px;
  height: 95px;
  background-image: url(./../img/logo-desktop-main.png);
}

.about .logo-image,
.services .logo-image {
  width: 222.21px;
  height: 72.79px;
  background-image: url(./../img/logo-desktop-red.png);
  transform: translateX(78%);
  transition: ease 1s;
}

.app:not(.home) .header-active .logo-image {
  background-image: url(./../img/logo-desktop-white.png);
}

.main {
  width: 100%;
  position: relative;
  display: flex;
  flex: 1 1;
  z-index: -5;
}

/* ----------- MAIN HOME --------- */

.home .main {
  background-color: var(--color-black);
}

.home .main-info {
  margin: auto 40px 85px 40px;
  display: flex;
  flex-direction: column;
}

.home .info__title {
  width: 600px;
  font-size: 140px;
  line-height: 130px;
  color: var(--color-white);
}

.home .info__title2 {
  margin-top: 20px;
  font-size: 180px;
  line-height: 170px;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to right,
    black -5%,
    white 40%,
    white 69%,
    black 104%
  );
}

.home .info-animation-text {
  width: 550px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-love);
  font-size: 140px;
  line-height: 120px;
  font-weight: 400;
  color: var(--color-pink);
  border: 5px solid var(--color-green);
  border-radius: 150%;
  position: absolute;
  left: 400px;
  bottom: 310px;
}

.home .info-text {
  width: 256px;
  font-size: 32px;
  line-height: 40px;
  color: var(--color-white);
  position: absolute;
  bottom: 154px;
  left: 1400px;
}

/* ----------- MAIN ABOUT --------- */

.about .main {
  position: absolute;
  top: 0;
  left: 0;
}

.block-left {
  width: 33%;
  height: 100vh;
  background: var(--color-black);
}

.block-left-wrapper {
  width: 505px;
  position: absolute;
  left: 40px;
  bottom: 122px;
  display: flex;
  flex-direction: column;
}

.block-left__title1,
.block-left__title2 {
  text-transform: uppercase;
  font-size: 96px;
}

.block-left__title1 {
  line-height: 96px;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to right,
    black -5%,
    white 40%,
    white 69%,
    black 104%
  );
}

.block-left__title2 {
  margin: 20px 0 20px 16px;
  line-height: 64px;
  color: var(--color-pink);
}

.block-left-name {
  font-size: 40px;
  line-height: 33px;
  color: var(--color-white);
  display: flex;
  justify-content: end;
}

.block-right {
  margin-top: auto;
  padding: 0 40px 85px 20px;
  width: 67%;
  display: flex;
  flex-direction: column;
}

.block-right__title {
  font-size: 64px;
  line-height: 64px;
  color: var(--color-pink);
}

.block-right-description-wrapper {
  display: flex;
  justify-content: end;
}

.block-right-description {
  width: 440px;
  font-size: 32px;
  line-height: 40px;
  align-items: end;
  text-align: right;
}

.block-right-text-wrapper {
  margin: 80px 0 43px 0;
  width: 1049px;
  font-size: 32px;
  line-height: 40px;
}

.block-right-text2 {
  font-size: 30px;
  line-height: 33px;
}

/* ----------- MAIN SERVICES --------- */

.services .main {
  user-select: none;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.services-preview {
  width: 438px;
  height: 62px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  position: absolute;
  top: 199px;
  left: 647px;
  z-index: -10;
}

.preview__title {
  width: 235px;
  font-size: 32px;
  line-height: 50.3px;
  text-align: center;
  grid-row-start: 1;
  grid-row-end: 3;
}

.preview-text {
  font-size: 16px;
  line-height: 25.15px;
  text-align: right;
}

.preview-slogan {
  margin-left: -50px;
  width: 280px;
  height: 56px;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 32px;
  line-height: 50.3px;
  color: var(--color-pink);
  border: 5px solid var(--color-green);
  border-radius: 150%;
  text-align: center;
}

/* -------- BLOCK LEFT */

.services-left {
  position: relative;
  width: 100%;
}

.services .services__title {
  margin: 261px auto 40px 56px;
  font-size: 140px;
  line-height: 130px;
}

.services-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.services-list-white {
  max-height: 648px;
  overflow: scroll;
}

.services-list-white .services-item:nth-child(n + 2) {
  border-top: 2px solid var(--color-black);
}

.services-item:not(.services-item-active) {
  transition: 0.5s;
  cursor: pointer;
}

.item__title {
  font-size: 32px;
  line-height: 40px;
  display: flex;
}

.services-list-white .item__title {
  padding: 25px 70px 25px 70px;
}

.item-text-wrapper {
  font-size: 20px;
  line-height: 25px;
}

.services-list-white .item-text {
  display: none;
  height: 0px;
  opacity: 0;
  visibility: hidden;
}

/* -------- BLOCK RIGHT */

.logo {
  display: flex;
  overflow: hidden;
  position: absolute;
  top: 64px;
  left: -261px;
  z-index: 10;
}

.services-right {
  position: absolute;
  top: 0;
  right: 0;
  /* margin-left: auto; */
}

.services-list-black {
  height: 100vh;
  flex-direction: row-reverse;
  transform: rotate(-180deg);
  background: var(--color-black);
}

.services-list-black .services-item {
  color: var(--color-white);
  display: flex;
  flex-direction: row-reverse;
}

.services-list-black .item__title-wrapper {
  padding: 35px 35px 0px 35px;
}

.services-list-black .item__title-wrapper:nth-child(n + 1) {
  border-left: 2px solid var(--color-white);
}

.services-list-black .item__title {
  writing-mode: vertical-rl;
}

.services-list-black .item-text-wrapper {
  display: flex;
}

.services-list-black .item-text {
  display: none;
  transform: rotate(180deg);
}

/* -------- active */

.services-item-active .item__title {
  cursor: initial;
}

.services-list-white .services-item-active .item__title {
  color: var(--color-pink);
}

.services-list-white .services-item-active .item-text-wrapper {
  border-top: 2px solid var(--color-black);
}

.services-list-white .services-item-active .item-text-wrapper {
  padding: 25px 70px 25px 70px;
}

.services-list-white .services-item-active .item-text {
  display: block;
  height: 100%;
  opacity: 1;
  visibility: visible;
}

.services-list-black .services-item-active .item__title-wrapper {
  color: var(--color-green);
}

.services-list-black .services-item-active .item-text-wrapper {
  padding: 35px 35px 170px 35px;
}

.services-list-black .services-item-active .item-text {
  display: block;
  width: 419px;
  height: 100%;
}

/* -------- */

@media (hover: hover) {
  .nav-item-link:hover {
    color: var(--color-green);
  }

  .logo-image:hover {
    transform: translateX(0%);
  }

  .services-list-white
    .services-item:not(.services-item-active)
    .item__title:hover {
    background: var(--color-pink);
    color: var(--color-white);
    transition: 0.4s;
  }

  .services-list-black
    .services-item:not(.services-item-active)
    .item__title-wrapper:hover {
    background: var(--color-green);
    color: var(--color-black);
    transition: 0.4s;
  }
}

@media (active: active) {
  .nav-item-link:active {
    color: var(--color-green);
  }
}
